@import './variables/colors';
@import './variables/font-family';

// $primary-color: $blue-dark-4;
// $secondary-color: $blue-grey-light-2;
// $success-color: $green-dark-2;
// $info-color: $blue-dark-1;
// $warning-color: $orange-dark-2;
// $danger-color: $red-dark-3;
// $dark-color: $grey-dark-5;
// $light-color: $grey-light-5;

$primary-color: $blue;
$secondary-color: $light-blue-accent-1;
$success-color: $green;
$info-color: $light-blue;
$warning-color: $orange;
$danger-color: $red;
$dark-color: $grey-dark-5;
$light-color: $grey-light-5;

$color-name: (primary secondary success info warning danger dark light);
$color-var: (
  $primary-color $secondary-color $success-color $info-color $warning-color $danger-color $dark-color $light-color
);

$sans-serif-font-family: $sans-serif-1;
$serif-font-family: $serif-1;
$monospace-font-family: $monospace-1;
$cursive-font-family: $cursive-1;
$fantasy-font-family: $fantasy-1;
