@import '../variables';
@import '../functions';

%btn-shared {
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    box-shadow: none;
  }
}

%btn-outline-shared {
  @extend %btn-shared;
  border: 2px solid transparent;
  color: $primary-color;
  background-color: transparent;
}

@each $name in $color-name {
  $i: index($color-name, $name);
  .btn-#{$name} {
    @extend %btn-shared;
    @include set-color(nth($color-var, $i));
  }

  .btn-outline-#{$name} {
    @extend %btn-outline-shared;
    @include set-border-text-color(nth($color-var, $i));
  }
}
