@import '../variables';
@import '../functions';

%progress-linear-shared {
  position: relative;
  top: 0;
  right: inherit;
  bottom: 0;
  left: inherit;
  height: 1rem;
  width: inherit;
  will-change: left, right;
  animation: linearAnimation 2s;
  animation-iteration-count: infinite;
  overflow-x: hidden;
  border-radius: 10px;
}

@keyframes linearAnimation {
  0% {
    left: -100%;
    right: 100%;
  }

  100% {
    left: 100%;
    right: 0%;
  }
}

@each $name in $color-name {
  $i: index($color-name, $name);
  .progress-linear-#{$name} {
    @extend %progress-linear-shared;
    @include set-color(nth($color-var, $i));
  }
}
